<!DOCTYPE html>
<html>
  <head>
    <title>HowRich</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
      <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" onclick="window.location.href='/'">Shoulda Coulda Woulda</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav">
            <li><a onclick="window.location.href='<%= user_path(current_user) if current_user %>'"> <%= current_user.name if current_user %></a></li>
            <li><a onclick="window.location.href='https://finance.yahoo.com/'">Market News</a></li>
            <li><a onclick="window.location.href='/motivation'">On Motivation</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if logged_in? %>
                <%= button_to("Log Out", signout_path, method: "delete", class: "btn btn-default navbar-btn") %>
              <% else %>
                <button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='/users/new'">Sign up</button>
                <button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='/sessions/new'">Sign in</button>
              <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  <body>
    <%= yield %>
  </body>
      </div>
    </div>
    <hr>
    <div class="col-lg-12 col-md-12 no-padding">
      <div class="hidden-sm hidden-xs">
        <div class="col-lg-8 col-md-8 align-text-left">
          <span class="text-muted small">Company, Inc. | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span>
        </div>
        <div class="col-lg-4 col-md-4 align-text-right">
          <span class="text-muted small">
                            © Copyright 2015-
                            <script type="text/javascript">document.write(new Date().getFullYear());</script> 
                            <a href="https://www.ProPay.com" id="ProPayLink" title="ProPay, Inc." rel="index,follow" target="_blank">Company, Inc.</a>
                            <br>
                            All rights reserved.
                        </span>
        </div>
      </div>
      <div class="hidden-lg hidden-md text-justify no-padding-no-margin">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding">
          <span class="text-muted small">Company, Inc. | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span>
          <hr class="primary">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
          <span class="text-muted small">
                            © Copyright 2015-
                            <script type="text/javascript">document.write(new Date().getFullYear());</script> 
                            <a href="https://www.Company.com" id="MobileCompanyLink" title="Company, Inc." rel="index,follow" target="_blank">Company, Inc.</a>
                            All rights reserved.
                        </span>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>
