<div class="container-fluid">
        <div class="jumbotron">
            <h2 class="text-center">Let's see how much money you could make!</h2>
            <div class="container">
	<!-- <div class="row"> -->
		<h1 align="center">Search Here</h1> <br/>
    <div class="container">



<div class="row">
  <%= form_tag '/searches' do %>

    <div class="col-md-3 col-sm-3 col-xs-3"></div>
    <div class="col-md-3 col-sm-3 col-xs-3 sec"><input class="form-control" name="search[start_date]" type='date' max="<%= Date.yesterday %>" value="Start Date">
</input>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 sec"><input class="form-control" name="search[end_date]" type='date' max="<%= Date.today %>" value="End Date">
</input></div>
    <div class="col-md-3 col-sm-3 col-xs-3"></div>
</div>
    <br>
        <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <input type="search" name="search[investment_amount]" class="form-control" placeholder="Investment amount">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <br>
            <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-6">



          <input list="browsers" name="stock[ticker_symbol]">
          <datalist id="browsers">
            <% @stocks.each do |stock| %>
              <option value="<%= stock.ticker_symbol %> - <%= stock.name %>"> <%= stock.ticker_symbol %></option>
            <% end %>
          </datalist>

              <input type="search" name="stock[ticker_symbol]" class="form-control" placeholder="Ticker Symbol">
                <%= flash[:message] %>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-sm-5 col-xs-3"></div>
            <div class="col-md-7 col-sm-2 col-xs-3">
              <%= submit_tag "Search" %>
            <div class="col-md-6 col-sm-5 col-xs-9"></div>
        </div>
    <% end %>

    </div>
  </div>
</div>
</p>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2>Most Searched</h2>
      <% Search.group(:stock_id).order(:stock_id).count.sort[0..4].map do |query|%>
      <% stock = Stock.find_by(id: query[0])%>
      <h4><%= "#{stock.name} (#{stock.ticker_symbol}) #{query[1]}x"%></h4>
      <% end %>
    </div>

    <div class="col-xs-4">
      <h2>Top Gainers</h2>
      <% @all_searches.order(profit: :desc).limit(5).each do |query| %>
        <h4 onclick="window.location.href='/searches/<%=query.id%>'"> <%= "#{query.stock.name} (#{query.stock.ticker_symbol}): #{query.profit}" %></h3>
      <% end %>
    </div>

    <div class="col-xs-4">
      <h2>Top Losers</h2>
      <% @all_searches.order(:profit).limit(5).each do |query| %>
        <h4 onclick="window.location.href='/searches/<%=query.id%>'"> <%= "#{query.stock.name} (#{query.stock.ticker_symbol}): #{query.profit}" %></h3>
      <% end %>
    </div>
  </div>
</div>
