<div class="container-fluid">
        <div class="jumbotron">
            <h2>Tell us what you wanted to invest in, and we'll tell you what you missed out on!</h2>
            <div class="container">
	<!-- <div class="row"> -->
		<h1 align="center">Search Here</h1> <br/>
    <div class="container">

<div class="row">
  <%= form_tag '/searches' do %>

    <div class="col-md-3 col-sm-3 col-xs-3"></div>
    <div class="col-md-3 col-sm-3 col-xs-3 sec"><input class="form-control" name="search[start_date]" type='date' max="<%= Date.yesterday %>" value="Start Date">
</input>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3 sec"><input class="form-control" name="search[end_date]" type='date' max="<%= Date.today %>" value="End Date">
</input></div>
    <div class="col-md-3 col-sm-3 col-xs-3"></div>
</div>
    <br>
        <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <input type="search" name="search[investment_amount]" class="form-control" placeholder="Investment amount">
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        </div>
        <br>
            <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <input type="search" name="stock[ticker_symbol]" class="form-control" placeholder="Ticker Symbol">
                <%= flash[:message] %>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3"></div>
            </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-sm-5 col-xs-3"></div>
            <div class="col-md-7 col-sm-2 col-xs-3">
              <%= submit_tag "Search" %>
            <div class="col-md-6 col-sm-5 col-xs-9"></div>
        </div>
    <% end %>

    </div>
  </div>
</div>
</p>

        </div>
        <div class="row">
            <div class="col-xs-4">
                <h2>Top 3 Searches</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Learn More »</a></p>
            </div>
            <div class="col-xs-4">
                <h2>Top Winners</h2>
                <%= byebug %>
                <% @all_searches.order(profit: :desc).limit(3).each do |query| %>
                  <h4> <%= "#{query.stock.name} (#{query.stock.ticker_symbol}): #{query.profit}" %></h3>
                <% end %>
              
                <p><a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">Learn More »</a></p>
            </div>
            <div class="col-xs-4">
                <h2>Top Loser</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p><a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Learn More »</a></p>
            </div>
        </div>
