shares:<h1> <%= @calculation.shares %> </h1>
total roi:<h1> <%= @calculation.total_roi %> </h1>
total profit:<h1> <%= @calculation.total_profit%> </h1>
annual return:<h1> <%= @calculation.annual_return%> </h1>
timeline:<h1> <%= @calculation.timeline %> </h1>
annual profit:<h1> <%= @calculation.annual_profit %> </h1>
