<h1> <%= @calculation.shares %> </h1>
<h1> <%= @calculation.total_roi %> </h1>
<h1> <%= @calculation.total_profit%> </h1>
<h1> <%= @calculation.annual_return%> </h1>
<h1> <%= @calculation.timeline %> </h1>
<h1> <%= @calculation.annual_profit %> </h1>
